<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>QuietDeck</string>
    <key>CFBundleIdentifier</key>
    <string>com.astralworkslabs.QuietDeck</string>
    <key>CFBundleIconFile</key>
    <string>CoveIcon</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Cove</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.7.3</string>
	<key>CFBundleVersion</key>
	<string>23</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
	<key>NSAccessibilityUsageDescription</key>
	<string>Cove uses Accessibility to discover menu-bar items and open the controls you select.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Cove uses Spotify automation to show Now Playing information and provide playback controls.</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
